@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

/*font-family: 'Kumbh Sans', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&family=Poppins:wght@400;500;600;700&family=Prompt&family=Tajawal:wght@500;900&display=swap');
/*font-family: 'Josefin Sans', sans-serif;
font-family: 'Tajawal', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Open+Sans:wght@400;500;600;800&display=swap');
/*font-family: 'DM Serif Display', serif;
font-family: 'Open Sans', sans-serif;
3 TARJETAS PRODUCTO ALEGRE*/



:root {
    --gradiente-color-1: #814C25; /* Primer */
    --gradiente-color-2: #FFDE59; /* Segundo */
   
    --color-textoneg:#ddd2d2;
    --color-textopos:#171427;
   
    --color-fondo: #010b1a;
   
    --main-color: #fd4646;
    --bg--color: #fff0f0;

}


* {
    margin: 0;
    padding: 0;
    
    
}


header  {
    background: var(--color-fondo)

}

/*LINEAS DEGRADADA*/
.decoracion {
    border-top: 3px solid transparent; 
    border-image: linear-gradient(to right, #814C25, #FFDE59); 
    border-image-slice: 1; 
  
}

.custom-input {
  max-width: 190px;
  background-color:rgb(1, 7, 16);
  border: 2px solid #FFDE59;
  border-radius: 1px;
  padding: 10px;
  outline: none;
  font-size: 16px;
  transition: background-color 0.3s ease;
  color:var(--color-textoneg)
}

.custom-input:focus {
  color:var(--color-textoneg)
  border: 1.5px solid #FFDE59;
  background-color:rgb(5, 36, 82);
}

/*-*/
header nav ul {
    list-style: none;
    display: flex;
    gap: 50px; 
    margin-right: 10px;
   
    
}
.navbar {
    background-color: var(--color-fondo); /* Color de fondo */
    z-index: 2;
}

/* Estilo para el botón de la hamburguesa */
.navbar-toggler {
    border-color: var(--bg--color); 
}
.navbar-nav .nav-link{
    text-decoration: none;
    font-family: 'Kumbh Sans', sans-serif;
    color: #ddd2d2;
    
}
.navbar-nav .nav-link:hover {
    color: var(--gradiente-color-1); /* Cambia el color al pasar el cursor sobre el enlace */
}

header.search-container {
    display: flex;
    margin-left:30px;

}

.secondary-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f8f9fa; 
    padding: 10px 20px; 
    box-shadow: 0 1px 4px rgba(62, 41, 41, 0.1); 
    margin-top: 100px;
}
/*Cart calsados*/

#cart-icon {
    font-size: 2.5rem;
    cursor: pointer;
    margin-right: 20px;
}
.cart{
    position: fixed;
    top: 0;
    right: -100%;
    width: 360px;
    min-height: 100vh;
    padding: 20px;
    background: var(--bg--color);
    box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
    transition: 0.3s;
    
}

.cart .cart-title,
.cart .total-title,
.cart .total-price {
    font-family: 'Kumbh Sans', sans-serif;
    color: var(--text-color);
}

.cart.active{
    right: 0;
}

.cart-title{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
    color: var(--text-color);
    
}
.secondary-nav .icons {
    display: flex;
    align-items: center;
}

.secondary-nav .icons i {
    font-size: 24px;
    font-family: 'Kumbh Sans', sans-serif;
    margin-right: 10px; 
}

.secondary-nav .links a {
    margin-left: 20px; 
    text-decoration: none;
    color: var(--bg--color); 
}

.secondary-nav .links a:hover {
    text-decoration: underline; 
}


/*CONTENIDO DEL  carrusel metodos de pago */

.text-carousel {
  background-color:rgb(0, 1, 0); /* Fondo oscuro (puedes cambiarlo) */
  color: white;              /* Color del texto */
  padding: 6px;             /* Espaciado interno opcional */
}

.text-slide i{
    letter-spacing: 2px;
    font-style: normal;
    font-family: 'Tajawal', sans-serif
}
.iconsvg {
  width: 16px;
  height: 16px;
  margin-right: 6px;
  fill: white;
}

a {
  text-decoration: none;   /* Saca el subrayado */
  color: inherit;          /* Hereda el color del texto padre */
  font-style: normal;      /* Por si tiene estilo itálico */
}



/* Buscador */
form.d-flex {
    border-image: linear-gradient(to right, #814C25, #FFDE59);
    border: 2px solid transparent; 
    border-radius: 10px; 
}

button.btn {
    border-image: linear-gradient(to right, #814C25, #FFDE59); 
    border-image-slice: 1; 
    padding: 5px 10px; 
    color: rgb(177, 119, 13); 
    font-family: 'Kumbh Sans', sans-serif;
    letter-spacing: 1px;
    font-weight: bold; /* Texto en negrita */
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.35);
}

button.btn:hover {
    opacity: 0.9;
    background-color:#c96822 ; 
}

/* anuncio inicial */
.text-slide {
    font-family: 'Kumbh Sans', sans-serif; 
}